.header-section {
    .header-section__title {
        margin-bottom: 18px;
        font-size: 50px;
        font-weight: bold;
        color: #191414;
    }
    .header-section__img {
        width: 246px;
        height: 24px;
    }
}